/**
 * Luca Clementi
 *
 * Used to separate CSS to the main HTML tag
 */

a:link, a:visited {
    text-decoration: underline; 
    color: #0000FF;
    font-weight: bold;}
a:hover, a:active, a:focus {
    color: #FF6622; 
    font-weight: bold;}

.noimg {
    background: url("../images/feed-icon.png") center right no-repeat;
}

/*
** keep the whitespace in front of the ^=, hides rule from konqueror
** this is css3, the validator doesn't like it when validating as css2
*/
.boxContainer .exlink {
    background: url("../images/external.png") center right no-repeat;
    padding-right: 13px;
}

.boxContainer a[href ^="http://"],
.boxContainer a[href ^="gopher://"] {
    /* background: url("../images/external.png") center right no-repeat; */
    padding-right: 13px;
}

.boxContainer a[href ^="https://"],
.link-https {
    background: url("../images/lock_icon.gif") center right no-repeat;
    padding-right: 16px;
}

.boxContainer a[href ^="mailto:"],
.link-mailto {
    background: url("../images/mail_icon.gif") center right no-repeat;
    padding-right: 18px;
}

br {line-height:.5em}

ol,ul {margin: 0;padding: 0 0 0 30px}

li {margin-top: 4px}

hr {
    border: 0 dotted;
    color: #999;
    background-color:#999;
    height: 2px; 
    margin:10px 0 10px 0
}
h1,h2,h3,h4{
    font-weight:bold; 
    margin:0 0 8px 0;
/*    text-transform:uppercase; */
}

h1 {font-size:1.6em; line-height:1.25em}
h2 {font-size:1.4em;}
h3 {font-size:1.2em;}
h4 {font-size:1em}

